<!-- This Card is a code Example for 2 Way Binding (property Binding)
 --><mat-card>
  <p [style.color]="themeColor">sandbox works!</p>

  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input name="themeColor" matInput [(ngModel)]="themeColor" type="text" />
  </mat-form-field>

  <!-- This is event Binding -->
  <button mat-button (click)="updateColor()">Click</button>

  <!--Important: You can use all kind of DOM-Events and Trigger-->
  <button mat-button (mouseenter)="updateColor2()">Hover</button>
</mat-card>


<!-- *ngFor example Best Practice-->
<mat-card style="margin-top: 1em; cursor: pointer;">
  <mat-list role="list" style="display: flex;">
    <mat-list-item role="listitem" *ngFor="let dish of favDishes" (click)="selectAndVoteDish(dish)">
      <h3>{{ dish.title }}</h3>
    </mat-list-item>
  </mat-list>
</mat-card>


<!-- *ngIf example Best Practice -->
<!-- also good Practice to embed a LoadingSpinner--> 
<mat-card style="margin-top: 1em">
    <mat-card-header>
        <mat-card-title>Debug</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span *ngIf="currentDish; else elseBlocc">{{currentDish | json }}</span>  
        <ng-template #elseBlocc>Select a dish</ng-template>
    </mat-card-content>
</mat-card>

