.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
}
.member {
    margin: 0;
    text-align: center;
    font-size: 4em;
}
.directionbutton {
    height: 5vh;
    padding: 4em;
}