.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
    padding: 2rem;
    width: 400px;
    background-color: #37474F;
    color: white;
    font-weight: 600;
}