<div>


  <mat-list-item *ngIf="selectedDish.id != null; else elseBlock">
    <div
      style="display: flex; justify-content: space-around; align-items: center"
    >
      <div>
        <h3 style="font-weight: 600" matLine>
          {{ selectedDish.dish }} contains {{ selectedDish.ingOne }} and
          {{ selectedDish.ingTwo }} and {{ selectedDish.ingThree }}.
        </h3>

        <p matLine>
          It takes
          {{ selectedDish.duration }} minutes of Preperation
        </p>
      </div>

   
    </div>
  </mat-list-item>

  <ng-template #elseBlock> Select a Dish </ng-template>
</div>
